@inject ITodoListsService todoListService
@inject ITodoItemsService todoItemService

@page "/todos"
@using System.Collections.ObjectModel;

<h3>TodosPage</h3>

@if (hasTodos)
{
    @foreach (var list in todoLists)
    {
        <div>@list.Title</div>
    }
}



@code {
    private ObservableCollection<TodoListDto> todoLists = new();

    private bool hasTodos = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);

        if (firstRender)
        {
            try
            {
                var lists = await todoListService.GetTodos();
                AddTodoLists(lists);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
        }
    }

    private void AddTodoLists(List<TodoListDto> lists)
    {
        foreach (var list in lists)
        {
            todoLists.Add(list);
        }

        hasTodos = true;
        StateHasChanged();
    }

}
