.page-container {
    display: flex;
    flex-direction: row;
}

.todo-card {
    background-color: #c2c2c2;
    margin: 30px;
    border-radius: 30px;
    height: 75vh;
    width: 40vh;
    padding: 20px;
}

.item-dialog {
    background-color: #c2c2c2;
    margin: 30px;
    border-radius: 30px;
    height: 40vh;
    width: 40vh;
    padding: 20px;
    bottom: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dialog-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.todo-list-button-list {
    height: 80%;
    overflow: auto;
    padding: 10px;
}

.add-button-container {
    height: 20%;
    padding: 10px;
}

.add-button {
    width: 170px;
    height: 80px;
    display: block;
    background-color: #528abe;
    border-radius: 20px;
    color: #ffffff;
    border: hidden;
}

.list-button {
    width: 260px;
    height: 70px;
    border-radius: 35px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    border: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 10px;
}

.dialog-button {
    width: 175px;
    height: 50px;
    border-radius: 35px;
    text-align: center;
    line-height: 100%;
    vertical-align: middle;
    border: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #A427F0;
    color: white;
}

.todo-item {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 15px;
    color: #0e4d88;
}

.colors-list {
    display: flex;
    overflow-x: scroll;
    margin-left: auto;
    margin-right: auto;
    width: 325px;
    flex-shrink: 0;
    flex-wrap: nowrap; /* [1] */
    text-align: center;
    color: black;
}

/*.colors-list::-webkit-scrollbar {
    display: none;
}*/

.color {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    flex: 0 0 auto;
}

.selected-color {
    box-shadow: 0 0 0 2px white;
}

.selected-list {
    box-shadow: 0 0 15px 0px #A427F0;
}

.mct-input {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #D3D3D3;
    border-radius: 5px;
    height: 50px;
    padding: 5px;
    border: 0;
}